Repository AigisCorp/meta-helm-chart, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation, golang

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

infrastructure:
  - "**/*.tf"

documentation:
  - "**/*.md"

golang:
  - "**/*.go"

Fix: Getting Started
  README.md
Labels: documentation

Fix: Add missing dot
  README.md
Labels: documentation

Feat: add new github pages badge
  README.md
Labels: documentation

Fix: Getting Started (#2)
  README.md
Labels: documentation

Feat: add new github pages badge (#3)
  README.md
Labels: documentation

Doc: add mkdocs file, pipeline and some md structure
  .github/workflows/deploy-gh-pages.yaml
  docs/index.md
  docs/sections/features.md
  docs/sections/getting-started.md
  docs/sections/introduction.md
  docs/sections/usage.md
  mkdocs.yml
Labels: ci/cd, documentation

Doc: add logo
  docs/assets/meta-helm-chart_logo.png
  mkdocs.yml
Labels: none

Feat: remove some readme lines and tab documentation
  README.md
  docs/assets/favicon.ico
  docs/sections/getting-started.md
  mkdocs.yml
Labels: documentation

Doc: add mkdocs file, pipeline and some md structure (#5)
  .github/workflows/deploy-gh-pages.yaml
  README.md
  docs/assets/favicon.ico
  docs/assets/meta-helm-chart_logo.png
  docs/index.md
  docs/sections/features.md
  docs/sections/getting-started.md
  docs/sections/introduction.md
  docs/sections/usage.md
  mkdocs.yml
Labels: ci/cd, documentation

Fix: main as trigger branch
  .github/workflows/deploy-gh-pages.yaml
Labels: ci/cd

Fix: main as trigger branch (#6)
  .github/workflows/deploy-gh-pages.yaml
Labels: ci/cd

Feat: merge both jobs to have everything in gh-pages
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  .github/workflows/helm-releaser.yaml
Labels: ci/cd

Feat: merge both jobs to have everything in gh-pages (#7)
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  .github/workflows/helm-releaser.yaml
Labels: ci/cd

Fix: bump chart version and fix badge
  README.md
  charts/meta-helm-chart/Chart.yaml
Labels: documentation

Fix: bump chart version and fix badge (#8)
  README.md
  charts/meta-helm-chart/Chart.yaml
Labels: documentation

Fix: split workflow and trigger changes
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  charts/meta-helm-chart/values.yaml
Labels: ci/cd

Fix: rollback to 0.0.1 chart version
  charts/meta-helm-chart/Chart.yaml
Labels: none

Fix: now bump version
  charts/meta-helm-chart/Chart.yaml
Labels: none

Fix: bump to 0.0.3
  charts/meta-helm-chart/Chart.yaml
Labels: none

Fix/trigger pipeline (#9)
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  charts/meta-helm-chart/Chart.yaml
  charts/meta-helm-chart/values.yaml
Labels: ci/cd

Fix: add new changes
  charts/meta-helm-chart/Chart.yaml
  charts/meta-helm-chart/values.yaml
Labels: none

Fix: add new changes (#10)
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  charts/meta-helm-chart/Chart.yaml
  charts/meta-helm-chart/values.yaml
Labels: ci/cd

Fix logo size
  README.md
Labels: documentation

Update helm-test-lint.yaml
  .github/workflows/helm-test-lint.yaml
Labels: ci/cd

Fix: change chart testing action version
  .github/workflows/helm-test-lint.yaml
Labels: ci/cd

Fix logo size (#16)
  .github/workflows/helm-test-lint.yaml
  README.md
Labels: ci/cd, documentation
