Repository AigisCorp/meta-helm-chart, pull requests merged in 2023-10, with the labels that each got.

#2 Fix: Getting Started
  README.md
Labels: documentation, size/S

#3 Feat: add new github pages badge
  README.md
Labels: documentation, size/XS

#5 Doc: add mkdocs file, pipeline and some md structure
  .github/workflows/deploy-gh-pages.yaml
  README.md
  docs/assets/favicon.ico
  docs/assets/meta-helm-chart_logo.png
  docs/index.md
  docs/sections/features.md
  docs/sections/getting-started.md
  docs/sections/introduction.md
  docs/sections/usage.md
  mkdocs.yml
Labels: documentation, ci/cd, size/L

#6 Fix: main as trigger branch
  .github/workflows/deploy-gh-pages.yaml
Labels: ci/cd, size/XS

#7 Feat: merge both jobs to have everything in gh-pages
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  .github/workflows/helm-releaser.yaml
Labels: ci/cd, size/M

#8 Fix: bump chart version and fix badge
  README.md
  charts/meta-helm-chart/Chart.yaml
Labels: documentation, size/XS

#9 Fix/trigger pipeline
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  charts/meta-helm-chart/Chart.yaml
  charts/meta-helm-chart/values.yaml
Labels: ci/cd, size/S

#10 Fix/add needs on
  .github/workflows/deploy-gh-pages-chart-releaser.yaml
  charts/meta-helm-chart/Chart.yaml
  charts/meta-helm-chart/values.yaml
Labels: ci/cd, size/XS
